SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

POSTGRES_ENGINE=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DBNAME=
DATABASE=
PG_HOST=
PG_PORT=

EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='your-smtp-server.com'
EMAIL_PORT=25
EMAIL_USE_TLS=
EMAIL_HOST_USER='your@email.com'
EMAIL_HOST_PASSWORD='your-email-password'
